# 不要忽略这些配置文件夹
!.vscode/
!.vscode/extensions.json
!.cursor/
!.github/
!scripts/

# 但是要忽略临时文件
.vscode/extensions_list.txt
.cursor/extensions_list.txt
# data_for_analysis/
.specstory/
.vscode/settings.json
*.RData
*.pdf

# 系统文件
.DS_Store
Thumbs.db

# 环境文件
.env
*.log 